:root {
  --base-black: #000;
  --base-white: #fff;
  --primary: #cc9c52;
  --secondary: #f3ebda;
  --third: #202020;
}

/* Global Design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", "Sansation", sans-serif;
  background-color: var(--base-black);
  color: var(--base-white);
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Btn Design */
.btn {
  font-size: 1rem;
  font-family: "Sansation", sans-serif;
  font-weight: 600;
  padding: 1.9rem 3.1rem;
  color: var(--base-black);
  max-width: 60rem;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-secondary {
  color: var(--primary);
  border: var(--primary) solid 0.1rem;
}

/* Navbar Design */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  background-color: var(--base-black);
}

header .container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90rem;
  margin: 0 auto;
  padding: 1.9rem 0;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.logo a {
  font-size: 2.3rem;
  font-weight: 400;
  color: var(--base-white);
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 3.1rem;
  list-style: none;
  font-size: 1.2rem;
}

.navbar-list a,
.icon-list a {
  color: var(--base-white);
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-list a:hover,
.icon-list a:hover {
  color: var(--primary);
}

.icon-list {
  display: flex;
  gap: 1.9rem;
  align-items: center;
}

.icon-list i {
  font-size: 1.4rem;
}

.menu-icon {
  font-size: 1.4rem;
  display: none;
}

/* Footer Design*/
.site-footer {
  background-color: var(--third);
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  margin: 0 auto;
  padding: 5rem 0;
  margin-top: 5rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content h2 {
  font-size: 3.2rem;
  font-weight: 400;
  color: var(--base-white);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
}

.footer-nav a {
  font-size: 1.4rem;
  color: var(--base-white);
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: var(--primary);
}

.footer p {
  margin-top: 0.5rem;
}

.footer-bottom {
  padding-top: 8rem;
  text-align: right;
}

.footer-bottom hr {
  border: var(--secondary) solid 0.01rem;
  border-radius: 0.1rem;
}

.footer-bottom p {
  font-size: 1.3rem;
  font-weight: 300;
  padding-top: 1rem;
}

/* Responsive */
@media (max-width: 800px) {
  header .container-navbar {
    padding: 1.5rem 2rem;
    background-color: var(--base-black);
  }

  .navbar-list {
    display: none;

    /* position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    background: var(--base-black);
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    display: none;
    overflow: hidden;
    transition: max-height 0.5; */
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }
}
