:root {
  --base-black: #000;
  --base-white: #fff;
  --primary: #cc9c52;
  --secondary: #f3ebda;
  --third: #202020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  outline: 0;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Playfair Display", "Sansation";
  background-color: var(--base-black);
  color: var(--base-white);
}

.btn {
  font-size: 1rem;
  font-family: "Sansation";
  font-weight: 600;
  padding: 1.9rem 3.1rem;
  color: var(--base-black);
  max-width: 60rem;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-secondary {
  color: var(--primary);
  border: var(--primary) solid 0.1rem;
}

/* Navbar Design */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

header .container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem 0;
  max-width: 90rem;
  margin: 0 auto;
}

header.scrolled {
  background-color: var(--base-black);
}

.logo a {
  font-size: 2.3rem;
  font-weight: 400;
  color: var(--base-white);
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.1rem;
  font-size: 1.2rem;
}

.navbar-list a {
  text-decoration: none;
  color: var(--base-white);
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-list i {
  font-size: 1.4rem;
  color: var(--base-white);
  transition: color 0.3s ease, transform 0.3s ease;
}

.icon-list {
  display: flex;
  gap: 1.9rem;
}

.navbar-list a:hover,
.navbar-list i:hover {
  color: var(--primary);
}

/* Footer Design*/
.footer {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  margin: 0 auto;
  padding: 5rem 3.1rem 5rem 3.1rem;
  margin-top: 5rem;
  background-color: var(--third);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content h2 {
  font-size: 3.2rem;
  font-weight: 400;
  color: var(--base-white);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
}

.footer-nav a {
  font-size: 1.4rem;
  color: var(--base-white);
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: var(--primary);
}

.footer p {
  margin-top: 0.5rem;
}

.footer-bottom {
  padding-top: 8rem;
  text-align: right;
}

.footer-bottom hr {
  border: var(--secondary) solid 0.01rem;
  border-radius: 0.1rem;
}

.footer-bottom p {
  font-size: 1.3rem;
  font-weight: 400;
  padding-top: 1rem;
}
