/* General Design */
.container {
  display: flex;
  align-items: center;
  max-width: 90rem;
}

/* Navbar Design */
header .container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem 3.1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.2s ease;
  max-width: 90rem;
}

header .container-navbar.scrolled {
  background-color: var(--base-black);
}

.logo a {
  font-size: 2.3rem;
  font-weight: 400;
  color: var(--base-white);
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 3.1rem;
  font-size: 1.2rem;
}

.navbar-list a {
  text-decoration: none;
  color: var(--base-white);
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-list a:hover {
  color: var(--primary);
}

/* Hero Design */
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-image: url(../Asset/Background-HomePage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 2.5rem;
  box-sizing: border-box;
  max-width: 90rem;
}

.hero .content {
  padding: 1.9rem 3.1rem;
  max-width: 60rem;
}

.hero .content h1 {
  color: var(--secondary);
  font-weight: 500;
  font-size: 5.6rem;
}

.hero .content p {
  font-family: "Sansation";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 1.5rem;
}

.hero .content-btn {
  padding-bottom: 10vh;
  padding-right: 8vh;
}

.hero .content-btn a {
  font-family: "Sansation";
  font-weight: 600;
  font-size: 1.3rem;
  padding: 1.3rem 1.9rem;
  transition: background-color 0.5s ease;
}

.hero .content-btn a:hover {
  background-color: var(--secondary);
}

/* Collection Design */
.collection {
  flex-direction: column;
  padding: 5rem 3.1rem;
}

.collection h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--secondary);
}

.collection h2 {
  font-size: 2rem;
  font-weight: 400;
}

.collection .container-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
  gap: 1rem;
  max-width: 90rem;
  width: 100%;
}

.collection .box-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.collection .box-image {
  border: var(--secondary) solid 1px;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.collection .box-image img {
  max-width: 20rem;
  height: auto;
  display: block;
}

/* About Us Design */
.about-us {
  padding: 5rem 3.1rem;
  justify-content: space-between;
}

.about-us h1 {
  font-size: 4rem;
  font-weight: 500;
  color: var(--secondary);
}

.about-us p {
  font-family: "Sansation";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 1.5rem;
}

.about-us .content-btn {
  margin-top: 5rem;
}

.about-us .content-img img {
  max-width: 35rem;
  height: auto;
  display: block;
}

.about-us .content-btn a {
  font-family: "Sansation";
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1.3rem 1.9rem;
  transition: background-color 0.5s ease;
}

.about-us .content-btn a:hover {
  background-color: var(--primary);
  color: var(--base-black);
}
